{% extends 'base.html' %}


{% block content %}

<h2>Job APplications </h2>
<table>
    <tr>
        <th> Candidate </th>
        <th> Job </th>
        <th> Resume </th>
        <th> Status </th>
    </tr>

    {% for application in applications %}

    <tr> 
        <td> {{ application.candidate.username }} </td>

        <td> {{ application.job.title }} </td>
        <td> <a href="{{ application.resume.url }}">View Resume</a></td>

        <td> {{ application.status }} </td>
    </tr>

     {% endfor %} 

</table>
{%  endblock %}